<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Controller\Subscriber\NewAction">
        <plugin name="ss_newsletterajax_magento_newsletter_controller_subscriber_newaction" type="SS\NewsletterAjax\Plugin\Magento\Newsletter\Controller\Subscriber\NewAction"/>
    </type>
</config>
